.inputstyle {
    background-color: rgba(255,255,255,0.1) !important;
    border: 2px solid #000 !important;
    border-radius: 25px !important;
    font-family: 'Muli', sans-serif !important;
    font-size: 16px !important;
    height: 30px !important;
    margin-bottom: 20px !important;
    outline: none;
    padding: 0px 20px !important;
}